@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Aeonic Mono', monospace;
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}
.scrollbar-none {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.hover-fix::before {
	display: block;
	content: attr(title);
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

[type='text'],
[type='number'],
input:where(:not([type])) {
	outline: 0;
	border: none;
	padding: 0;
	outline-offset: 0;
}

[type='text']:focus {
	outline: 0;
	border: none;
	padding: 0;
	outline-offset: 0;
	box-shadow: none;
}